/*==================================================================
프로젝트명 : 판독 웹뷰어
작성지 : 신정호
작성일 : 2023년 11월 22일
용도 : 판독 웹뷰어 설정용 스타일시트
==================================================================*/

@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 500;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}

/* common */
a {display: block;}
a i {display: inline-block; margin-left: 5px;}
body {font-family: var(--mainfont);}


/* toggle button */
.button_container {display: flex; align-items: center; width: calc(18.4rem + 1vw); padding: 0 4%;}
.button_container > span {font-size: calc(0.4rem + 0.4vw); padding-right: 3%; color: #6A6A6A;}
.button_wrapper {display: flex; justify-content: flex-end; align-items: center; height: calc(0.12rem + 1vw); width: calc(1.8rem + 1vw);}
.switch {position: relative; display: inline-block; width: 100%; height: 100%; border-radius: 1.40625rem;}
.switch input {opacity: 0; width: 0; height: 0;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background: rgb(170 170 170 / 54%);  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.29) inset;  -webkit-transition: .4s; transition: .4s;}
.slider:before {position: absolute; content: ""; width: calc(-0.1rem + 0.8vw); height: calc(-0.1rem + 0.8vw); left: 8px; top: 15%; background-color: #F0F0F0;  -webkit-transition: .4s; transition: .4s;}
input:checked + .slider {background: #465169; box-shadow: 5px 7px 9px 0px rgba(0, 0, 0, 0.21) inset;}
input:focus + .slider {box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.17) inset;}
input:checked + .slider:before {-webkit-transform: translateX(25px); -ms-transform: translateX(25px); transform: translateX(25px);}

/* Rounded sliders */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

/* mode button */
.mode_button {display: flex; justify-content: flex-end; align-items: center; height: calc(1.4rem + 0.9vw); width: calc(3.4rem + 1vw);}
.mode_button a {width: 100%; height: 100%;}
.mode_button a img {height: 100%; filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));}


/* module */
/* min-height: 1600px; */
body {overflow: hidden;}
main {position: relative; height: 100vh; width: 100vw;}
.main_content {max-width: 100%; width: 100%; box-sizing: border-box; padding: 3%; margin: 0 auto;}
.wrapper {position: relative; display: flex; flex-direction: row; border-radius: calc(0.1rem + 0.8vw); margin: 0 auto; background-color:var(--main_content_color); box-shadow: 0px 4px 10px 0px rgba(148, 148, 148, 0.25);}
.header {position: relative; display: flex; padding: 3% 1% 4% 0;}


/* content wrap */
.content_wrap {display: flex; flex-direction: column; padding: 0% 2% 2% 2%; justify-content: flex-start;}
/*.monitor_content {width: 80%; border-radius: calc(0.1rem + 0.8vw); background-color: var(--monitor_color); box-shadow: 10px 0px 17px 5px rgba(190, 207, 207, 0.20);}*/
.monitor_content {width: 80%; border-radius: calc(0.1rem + 0.8vw); background-color: var(--monitor_color); box-shadow: 10px 0px 17px 5px rgba(190, 207, 207, 0.20);}
.status_content {width: 20%; min-width: 240px; height: 77vh; margin: 0 auto; min-height: 87%;}
/* height: 94%; */



/* monitor */
.monitor_header {display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 3% 1% 2.6% 0 !important;}
.header_wrap {display: flex; width: 50%; align-items: baseline;}
.button_collect {display: flex; justify-content: space-between;}
.monitor_header > p {display: inline-block;}
.tittle {font-size: var(--monitor_header_font); margin: 0 5% 0 0; font-weight: 800; font-family: "NanumSquare"; letter-spacing: -1px;}
.tag_tittle {font-size: var(--monitor_tag_font); font-weight: 700; color: var(--sub_color);}

.header_left {display: flex;}


/* monitor grid*/
.grid_wrapper {width: 100%; height: 77vh; margin: 0 auto;}
.grid {display: grid; grid-template-columns: repeat(3, minmax(auto, 1fr)); overflow: scroll;-ms-overflow-style: none; scrollbar-width: none; /* 파이어폭스 */}
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.grid::-webkit-scrollbar {    display: none;}

.scroll {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.grid > div { position: relative; margin: 2%;  border-radius: calc(0.1rem + 0.4vw); box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.07); filter: drop-shadow(1px 5px 5px rgba(120, 124, 124, 0.41)); background-position: center;}
.grid .content {color: var(--monitor_color); display: flex; justify-content: space-between; padding: 5%;}
.grid .content_status {display: flex; align-items: center;}
.grid .content_status img {width: calc(0.8rem + 1vw); height: calc(0.8rem + 1vw);}
.grid .content_status p {font-size: var(--grid_content_font_size); padding: 0 3% 0 4%; font-weight: 600;}
.reg_num {font-size: var(--monitor_num); font-weight: 400;}


/* updated monitor grid */
.grid .content_placement {display: flex; flex-direction: column; justify-content: space-between; height: 95%; width: 100%;}
/* .grid .content_placement > div {padding-bottom: 30%;} */
.grid .state_info {display: flex; align-items: center; padding-bottom: 6%;}
.grid .state_info p {font-size: var(--grid_content_font_size); font-weight: 600;}
/* .grid .left_contents { width: 30%;} */
.grid .left_contents img {width: calc(0.2rem + 1vw); height: calc(0.2rem + 1vw); padding: 0 7% 0 0;}
.grid .left_contents > p {font-size: var(--grid_content_font_size); padding: 0 3% 0 4%; font-weight: 600;}
.grid .left_contents .bottom_info { padding-top: 29%;}
.grid .left_contents .bottom_info p.time_tag {font-size: var(--monitor_time_tag); font-weight: 600; padding: 1% 0;}
.grid .left_contents .bottom_info p.time {font-size: var(--monitor_time); font-weight: 400; letter-spacing: 1px;}

.grid .right_content {width: 62%;}
.grid .right_content > div {height: 100%;}
.grid .right_content > div > div {padding: 2% 0 0 0;}
.grid .right_content .monitor_info {display: flex; justify-content: space-around; align-items: center; padding: 0 3% 5% 3%;}
.grid .right_content .monitor_total_info {padding: 2% 3% 0 3%; position: relative;}
.grid .right_content_wrapper_total {position: relative; width: 100%;}
.grid .right_content_wrapper_total::before { position: absolute; content: ""; height: 1%; background-color: #eaeaea; width: 100%; top: -25%; }
.grid .right_content .name_tag {font-size: var(--name_tag);}
.grid .right_content .num_tag {font-size: var(--num_tag); font-weight: 600; width: 17%; text-align: center;}
.grid .right_content .bar {width: calc(2.6rem + 1.6vw); padding: 0 2% 0 8%;}
/* .grid .right_content .monitor_total_info {margin-top: 67%;} */

/* monitor grid component */
.grid .working {background-image: url(/img/reading_background.png); background-size: cover; background-repeat: no-repeat;}
.grid .waiting {background-image: url(/img/waiting_background.png); background-size: cover; background-repeat: no-repeat;}
.grid .error {background-image: url(/img/error_background.png); background-size: cover; background-repeat: no-repeat;}
.dimmed::after {position: absolute; content: " "; z-index: 10; display: block; height: 100%; top: 0; left: 0; right: 0; background:rgba(104, 104, 104, 0.66); border-radius: calc(0.1rem + 0.4vw);}




/* status grid */
/* .status_content {height: 100%;} */
.status_wrapper {width: 100%; height: 100%; margin: 0 auto;}
.status {height: 100%; display: column-grid;}
.status_header {text-align: right; display: inline-block; color: var(--sub_color); margin: 9% 0 7% 0; }
.status > div {/*background-color: #fdfdfd;*/ border-radius: calc(0.1rem + 0.4vw); /*box-shadow: 2px 6px 9px 0px rgba(0, 140, 157, 0.14);*/}
.status_tittle {font-size: var(--status_header_font); font-weight: 600;}
.status_tag {font-size: var(--status_tag_font); padding: 1% 0; color: var(--comment_color);}
.date {font-size: var(--status_tag_font); padding: 2% 0 2% 0; color: var(--comment_color);}



/* label */
.label {position: relative; padding: 3% 1%; margin: 10% 0 7% 0; width: 47%; background: rgba(255, 255, 255, 0.59); border-radius: calc(0.1rem + 0.3vw); }
.label_container { display: flex; justify-content: space-between; margin-bottom: 7%;}
.label_wrapper {width: 99%;}
.label .label_color {width: calc(0.3rem + 0.9vw); height: calc(0.3rem + 0.9vw); border-radius: calc(0.1rem + 0.2vw);}
.label span{color: var(--tag_color); font-family: "NanumSquare"; padding: 0 5%;}
.label > div {margin: 4% 2% 8% 2%;}
.label .top_line > .label_wrapper {font-size: var(--name_tag); font-weight: 300;}
/* .label .bottom_line {padding-top: 5% !important;} */
.label .bottom_line > .label_wrapper {display: flex; justify-content:flex-end; align-items: baseline;}
.label .bottom_line > .label_wrapper > span {font-size: var(--graph_tittle_font);  padding: 0 5%;}
.label .bottom_line > .label_wrapper > .adex_unit {font-size: var(--label_font); font-weight: 300;}


.reading_label {background-color: var(--reading_color);}
.error_label {background-color: var(--error_color);}
.waiting_label {background-color: var(--waiting_color);}
.pause_label {background-color: #585858}



/* graph */
.graph {position: relative; padding: 6% 4% 3% 4%; }
.graph_container { position: relative; overflow: scroll; height: 93%;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */}
.graph_container::-webkit-scrollbar {    display: none;}
.status_variable {padding-left: 3%; display: flex; justify-content: space-between; align-items: baseline; position: relative; margin-bottom: 11%;}
.status_1st {font-size: var(--graph_tittle_font);}
.status_2nd {font-size: var(--name_tag); color: #989898; font-weight: 300;}
.status_variable::before {position: absolute; content: ""; width: calc(0.1rem + 0.1vw); height: calc(0.9rem + 0.9vw); left: -2%; top: 50%; transform: translate(-50%, -50%); background-color: #414E5F; border-radius: 15%;}
.num_wrapper {display: flex; align-items: baseline;}
.num {font-size: var(--num_font); padding: 0 8% 0 0; letter-spacing: -0.5px; font-weight: 700;}
.amount {font-size: var(--label_font);}

.circle_graph {display: flex; align-items: center; justify-content: center;}
.circle_illust {position: relative;}
.circle_graph .percentage {position: absolute; font-size: var(--percentage_font); font-weight: 600;}

.reading_graph {color: var(--reading_color);}
.reading_graph .amount {color: var(--amount_color);}
.waiting_graph {color: var(--waiting_color);}
.waiting_graph .amount {color: var(--amount_color);}
.error_graph {color: var(--error_color);}
.error_graph .amount {color: var(--amount_color);}

.top_graph {color: #414E5F; font-weight: 400; height: 67%;}


/* total num */
.total_wrapper {display: flex; padding: 5% 10%; justify-content: space-between; align-items: center;}
.tag {font-weight: 700; font-size: var(--total_font);}
.result {font-size: var(--total_result_font);}
.total_wrapper p {color: var(--total_color);}


/* item */
.item_list_wrapper {overflow: scroll; height: 94%;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */}
.item_list_wrapper::-webkit-scrollbar {    display: none;}
.item_list_container {padding: 0 0 0 4%; margin-bottom: 7%;}
.item_list {display: flex; justify-content: space-between; font-size: var(--label_font); align-items: center; font-weight: 700; }
.item_name {font-weight: 400; width: 40%}
.item_bar {width: 40%; display: flex; justify-content: flex-end;}

.list_active { color: #3B3B3B; }
.list_nonactive {color: rgba(210, 210, 210, 1);}



.circle_progress_wrap {    position: relative;    width: 140px;    height: 140px;    margin-bottom: 30px;}
.circle_progress { transform: rotate(-90deg);}
.frame, .circle, .circle2, .circle3 { fill: none; }
.frame { stroke: #ffffff; filter:drop-shadow(0px 2px 2px rgba(107, 107, 107, 0.2));}
.circle {stroke: var(--reading_color); stroke-linecap: butt; transition: 1s;}
.circle2{stroke: var(--waiting_color); stroke-linecap: butt; transition: 1s;}
.circle3{stroke: var(--error_color); stroke-linecap: butt; transition: 1s;}
.value{ position: absolute; color: black; left: 0; right: 0; bottom:0; top: 12px; text-align: center; font-size: 16px; line-height: 140px;}
.vr {color:var(--reading_color)}
.date{font-size: var(--status_tag_font); font-weight: 300;}
.hidden{display: none;}

/* swiper */
/* swiper */

.swiper { margin-left: 0 !important; margin-right: 0 !important; height: 100%;}
.swiper-slide{width: 100% !important;}
.swiper-horizontal{overflow: scroll !important;-ms-overflow-style: none; scrollbar-width: none;}
.swiper-horizontal::-webkit-scrollbar {    display: none;}

.xray_bottom{padding-top: 61% !important;}
.xray_none{display: none !important;}

/* progress */

.progress{appearance: none; width: 100%; height: calc(0.18rem + 0.5vw);}
.progress::-webkit-progress-bar {background:rgba(217, 217, 217, 0.41); border-radius: 10px;}
.list_nonactive .progress::-webkit-progress-bar {background:rgba(215, 215, 215, 0.212); border-radius: 10px;}

.progress::-webkit-progress-value{border-radius:10px; }
.workingP::-webkit-progress-value {background: rgba(66, 121, 203, 0.601); }
.bar {padding: 0 3% 0 5%; display: flex; width: calc(9.6rem + 1.6vw); }



/* cubox logo */
.cubox_logo {display: flex; align-items: flex-end; height: 7%; justify-content: flex-end;}
.cubox_logo img {width: calc(3.3rem + 2.3vw);}

/* icn logo */
.icn_logo {width: calc(22.3rem + 1vw);}

.icn_logo img {width: calc(12.3rem + 3.5vw);}

/* id */
.id_num_container {display: flex; flex-direction: column; font-size: calc(0.46rem + 0.4vw);}
.id_tag_name {text-align: right; font-weight: 300; color: #808080; }
.id_num {display: flex; justify-content: flex-end; font-weight: 800; color: #FB9D16; padding-top: 2%;}

/* image */
.image_container {display: flex; justify-content: space-around; height: 74%; font-size: var(--graph_tittle_font); background-color: #f1f6f726; padding: 1.5%; margin: 0 auto;}
.image_title {position: relative;  width: 75%; color: #303C4D;}
.image_title::before {position: absolute; content: ""; width: calc(0.2rem + 0.1vw); height: calc(0.9rem + 0.9vw); left: -4%; top: 50%; transform: translate(-50%, -50%);  background-color: #303C4D; border-radius: 15%;}
.image_container .image {width: 50%; display: flex; flex-direction: column; align-items: center; margin: 0 auto;}
.image_wrapper {margin: 0 auto; padding-top: 4%; height: 90%; margin: 0 auto;}
.image_wrapper img {height: 100%; width: 100%; object-fit: contain; }

/* thumbnail */
.thumbnail {background-color: #F1F6F7; width: 100%;}
.thumbnail_container {display: grid; grid-template-columns: repeat(9, minmax(auto, 1fr)); }
/* .thumbnail_img:first-child {margin: 5% 10% 5% 10%;} */
.thumbnail_img {margin: 7% 6% 7% 6%;}
.thumbnail_img img {width: 100%;}

.highlight {border: 0.3rem solid #174488;}

.active{border :2px solid black;}