.a_main_container{width: 100%; height: 80%; display: flex; margin-bottom: 1px;}
.a_list_container{width: 100%; height: 100%; overflow: scroll; -ms-overflow-style: none; scrollbar-width: none;}
.a_list_container::-webkit-scrollbar {display: none;}
.a_wrapper_left{width: 100%; margin-right: 10px;}
.a_wrapper_right{width: 100%;}
.adex_image_wrapper{width: 100%;height: 100%; text-align: center;}
.adex_image_wrapper > img {object-fit: contain;width: 100%; height: 52vh; }
.a_list_container > ul {float: left; width: 100%; margin-left: 12px;}
.a_list_container > ul > li{width: 18%; margin: 48px 10px 30px; position: relative; display: inline-block;}
.a_list_container > ul > li > img{position: relative; width: 100%; height: 26vh; object-fit: contain; background-color: #fefefe; border: 1px solid #0000001a;}
.a_list_container > ul > li > img:after{content: ""; display: block; padding-bottom: 100%;}
.a_list_container > ul > li > p{font-size: 15px; width: 100%; background: #409fc9; color: white; padding: 10px 0; border-radius: 5px; text-align: center;}
.main_title{padding: 4%; font-size: 30px; font-weight: bold; background: #f1f1f1;}
.Image_container{width:100%; height: 20%; display: flex; justify-content: space-evenly; background: #f1f1f1; }
.adex_sub_image{width: 10%; height:80%; object-fit: contain; cursor: pointer; align-self: center;}
.adex_main_image{display:none;}
.active{box-shadow: 0px 0px 1px 2px black;}
.adex_image{width: 29%;}
.cont_wrap{display: flex;}

.common_pagination {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}

.common_pagination a {
    width: 28px;
    height: 27px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 600;
    color: #999;
}

.common_pagination a.disabled {
    cursor: default;
}

.common_pagination a.front {
    float: left;
    width: auto;
    padding-left: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #000000;
    margin-right: 16px;
    font-size: 11px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    line-height: 27px;
    padding-top: 2px;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.5,23.5L6.5,12l11-11.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 60%;
}

.common_pagination a.front.disabled {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23D1D1D1;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.5,23.5L6.5,12l11-11.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 60%;
    pointer-events: none;
}

.common_pagination a.first {
    float: left;
    width: auto;
    padding-left: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #000000;
    margin-right: 16px;
    font-size: 11px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    line-height: 27px;
    padding-top: 2px;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' d='M23.5 12H.5M8 19.5.5 12 8 4.5' data-name='Arrow 2 Right'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: left center;
    background-size: 27%;
}

.common_pagination a.first.disabled {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23d1d1d1' stroke-linecap='round' stroke-linejoin='round' d='M23.5 12H.5M8 19.5.5 12 8 4.5' data-name='Arrow 2 Right'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: left center;
    background-size: 27%;
    color: #d1d1d1;
    pointer-events: none;
}

.common_pagination a.back {
    float: left;
    width: auto;
    padding-left: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #000000;
    margin-left: 16px;
    font-size: 11px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    line-height: 27px;
    padding-top: 2px;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.5,0.5l11,11.5l-11,11.5'/%3E%3C/svg%3E ");
    background-repeat: no-repeat no-repeat;
    background-size: 60%;
}

.common_pagination a.back.disabled {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23D1D1D1;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.5,0.5l11,11.5l-11,11.5'/%3E%3C/svg%3E ");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 60%;
    pointer-events: none;
}

.common_pagination a.last {
    float: left;
    width: auto;
    padding-right: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #000000;
    margin-left: 16px;
    font-size: 11px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    line-height: 27px;
    padding-top: 2px;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' d='M.5 12h23M16 4.5l7.5 7.5-7.5 7.5' data-name='Arrow 2 Left'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: right center;
    background-size: 27%;
}

.common_pagination a.last.disabled {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23d1d1d1' stroke-linecap='round' stroke-linejoin='round' d='M.5 12h23M16 4.5l7.5 7.5-7.5 7.5' data-name='Arrow 2 Left'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: right center;
    background-size: 27%;
    color: #d1d1d1;
    pointer-events: none;
}

.common_pagination div {
    display: flex;
}

.common_pagination div a {
    margin: 0 4px;
    text-align: center;
    line-height: 27px;
}

.common_pagination div a:hover, .common_pagination div a:focus, .common_pagination div a:active {
    color: #000;
}

.common_pagination div a.active {
    background-color: #409fc9;
    color: #ffffff;
    text-decoration: none;
    width: 28px;
    height: 27px;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
}

.adex_status_wrapper{
    padding: 4.7%;
    font-size: 30px;
    line-height: 54px;
    color: #595959 !important;
    display: flex;
    justify-content: space-between;
    background: #cddae0 !important;
    box-shadow: 1px 2px 9px 0px rgba(0, 140, 157, 0.14) !important;
    margin-bottom: 20px !important;
}
.status_title{font-weight: 600; font-size: 26px;}
.adex_unit{font-size: 22px;}
.text-center{text-align: center; margin-bottom: 10px;}
.text-right{text-align: right;}
.status_num{font-weight: bold; font-size: 40px;}
.page_header{display: flex; justify-content: space-around;}
.page_header > a {}
.pactive{border-bottom: 3px solid black;}
.page_btn{border: none;
    border-radius: 50px;
    /* padding: 10px 15px; */
    background: #6a767b;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    cursor: pointer;
    position: relative;
    height: 50px;}
.page_btn > img {width: 80%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;}
.status_top10{font-size: 32px; padding-bottom: 12px;}
.status_top10_li{font-size: 25px;}
.top10_count{padding-right: 10px;}
.adex_close{    position: absolute; top: 35px; left: 98%; font-size: 30px; color: red; font-weight: bold; cursor: pointer;}
.noflex{display: block !important;}
.adex_header{margin: 9% 0 0% 0 !important;}