:root {
    --reading_color: #2EF0AE;
    --waiting_color: #FFC044;
    --error_color: #FF3030;
    --reading_sub_color: rgba(20, 100, 73, 0.15);
    --waiting_sub_color: rgb(238 168 97 / 50%);
    --error_sub_color: rgba(166, 13, 13, 0.33);
    --base_color: #fff;
    --sub_color: #DADADA;
    --comment_color: #DADADA;
    --monitor_color: #fff;
    --monitor_background_color: rgba(39, 40, 41, 1);
    --main_content_color: #464646;;
    --amount_color: #979797;
    --tag_color: #FFFFFF;
    --total_color: #EEEEEE;

    --mainfont: "Roboto";

    --monitor_header_font: calc(1.3rem + 1vw); 
    --monitor_tag_font: calc(0.6rem + 0.5vw) ;

    --status_header_font: calc(0.7rem + 1vw); 
    --status_tag_font: calc(0.6rem + 0.4vw);

    --monitor_tittle: calc(0.8rem + 1vw);
    --monitor_num: calc(0.4rem + 0.9vw);
    --monitor_time_tag: calc(0.1rem + 0.6vw);
    --monitor_time: calc(0.1rem + 0.5vw);
    --name_tag: calc(0.1rem + 0.6vw);
    --num_tag: calc(0.6rem + 0.5vw);

    --grid_content_font_size: calc(0.1rem + 1.2vw);

    --label_font: calc(0.2rem + 0.7vw);

    --graph_tittle_font: calc(0.3rem + 1vw);
    --num_font: calc(1rem + 3vw);

    --percentage_font: calc(0.5rem + 0.5vw);
    --total_font: calc(0.4rem + 1vw);
    --total_result_font: calc(0.4rem + 0.8vw);

}