@charset "utf-8";
@import url('/css/darkmodebase.css');

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0; background: #1E1F21;}
h1, h2, h3, h4, h5, h6, p, ul, ol {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 500;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}

/* common */
a {display: block;}
a i {display: inline-block; margin-left: 5px;}
body {font-family: var(--mainfont);}


/* toggle button */
.button_wrapper {display: flex; justify-content: flex-end; align-items: center; height: calc(1.4rem + 0.9vw); width: calc(3.4rem + 1vw);}
.switch {position: relative; display: inline-block; width: 100%; height: 100%; border-radius: 1.40625rem;}
.switch input {opacity: 0; width: 0; height: 0;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background: rgb(170 170 170 / 54%);  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.29) inset;  -webkit-transition: .4s; transition: .4s;}
.slider:before {position: absolute; content: ""; width: calc(0.9rem + 0.9vw); height: calc(0.9rem + 0.9vw); left: 4px; bottom: 4px; background-color: #F0F0F0; box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.16); -webkit-transition: .4s; transition: .4s;}
input:checked + .slider {background: rgba(8, 133, 91, 3.63); box-shadow: 5px 7px 9px 0px rgba(0, 0, 0, 0.21) inset;}
input:focus + .slider {box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.17) inset;}
input:checked + .slider:before {-webkit-transform: translateX(33px); -ms-transform: translateX(33px); transform: translateX(33px);}

/* Rounded sliders */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

/* mode button */
.mode_button {display: flex; justify-content: flex-end; align-items: center; height: calc(1.4rem + 0.9vw); width: calc(3.4rem + 1vw);}
.mode_button a {width: 100%; height: 100%;}
.mode_button a:hover {}
.mode_button a img {height: 100%; filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));}


/* module */
/* min-height: 1600px; */
body {overflow: hidden;}
main {position: relative; height: 100vh; width: 100vw;}  
.main_content {max-width: 100%; width: 100%; box-sizing: border-box; padding: 3%; margin: 0 auto;}
.wrapper {position: relative; display: flex; flex-direction: row; border-radius: calc(0.1rem + 0.8vw); margin: 0 auto; background-color:var(--main_content_color); box-shadow: 0px 2px 4px 0px rgba(12, 12, 12, 0.25);} 
.header {position: relative; display: flex; padding: 3% 1% 4% 0;}


/* content wrap */
.content_wrap {display: flex; flex-direction: column; padding: 0% 2% 2% 2%; justify-content: flex-end;}
.monitor_content {width: 80%; border-radius: calc(0.1rem + 0.8vw); background-color: var(--monitor_background_color); box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.25)} 
.status_content {width: 20%; min-width: 240px;}
/* height: 94%; */



/* monitor */
.monitor_header {display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 3% 1% 2.6% 0 !important;}
.header_wrap {display: flex; width: 50%; align-items: baseline;}
.button_collect {display: flex; justify-content: space-between;}
.monitor_header > p {display: inline-block;}
.tittle {font-size: var(--monitor_header_font); margin: 0 5% 0 0; font-weight: 800; font-family: "NanumSquare"; letter-spacing: -1px; color: var(--monitor_color);}
.tag_tittle {font-size: var(--monitor_tag_font); font-weight: 700; color: var(--sub_color);}


/* monitor grid*/
.grid_wrapper {width: 100%; height: 90%; margin: 0 auto;}
.grid {display: grid; grid-template-columns: repeat(3, minmax(auto, 1fr)); overflow: scroll;}
.grid > div { position: relative; margin: 2%;  border-radius: calc(0.1rem + 0.4vw); box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.25); background-position: center;}
.grid .content {color: var(--monitor_color); display: flex; justify-content: space-between; padding: 5%;}
.grid .content_status {display: flex; align-items: center;}
.grid .content_status img {width: calc(0.8rem + 1vw); height: calc(0.8rem + 1vw);}
.grid .content_status p {font-size: var(--grid_content_font_size); padding: 0 3% 0 4%; font-weight: 600;}
.reg_num {font-size: var(--monitor_num); font-weight: 400;}

/* updated monitor grid */
.grid .content_placement {display: flex; flex-direction: column; justify-content: space-between; height: 95%; width: 100%;}
/* .grid .content_placement > div {padding-bottom: 30%;} */
.grid .state_info {display: flex; align-items: center; padding-bottom: 6%;}
.grid .state_info p {font-size: var(--grid_content_font_size); font-weight: 600;}
/* .grid .left_contents { width: 30%;} */
.grid .left_contents img {width: calc(0.2rem + 1vw); height: calc(0.2rem + 1vw); padding: 0 7% 0 0;}
.grid .left_contents > p {font-size: var(--grid_content_font_size); padding: 0 3% 0 4%; font-weight: 600;}
.grid .left_contents .bottom_info { padding-top: 29%;}
.grid .left_contents .bottom_info p.time_tag {font-size: var(--monitor_time_tag); font-weight: 600; padding: 1% 0;}
.grid .left_contents .bottom_info p.time {font-size: var(--monitor_time); font-weight: 400; letter-spacing: 1px;}

.grid .right_content {width: 62%;}
.grid .right_content > div {height: 100%;}
.grid .right_content > div > div {padding: 2% 0 0 0;}
.grid .right_content .monitor_info {display: flex; justify-content: space-around; align-items: center; padding: 0 3% 5% 3%;}
.grid .right_content .monitor_total_info {padding: 2% 3% 0 3%; position: relative;}
.grid .right_content_wrapper_total {position: relative; width: 100%;}
.grid .right_content_wrapper_total::before { position: absolute; content: ""; height: 1%; background-color: #eaeaea; width: 100%; top: -25%; }
.grid .right_content .name_tag {font-size: var(--name_tag);}
.grid .right_content .num_tag {font-size: var(--num_tag); font-weight: 600;}
.grid .right_content .bar {width: calc(2.6rem + 1.6vw); padding: 0 2% 0 8%;}
/* .grid .right_content .monitor_total_info {margin-top: 67%;} */

/* monitor grid component */
.grid .reading {background-image: url(/storg/img/reading_background.png); background-size: cover; background-repeat: no-repeat;}
.grid .waiting {background-image: url(/storg/img/waiting_background.png); background-size: cover; background-repeat: no-repeat;}
.grid .error {background-image: url(/storg/img/error_background.png); background-size: cover; background-repeat: no-repeat;}
.dimmed::after {position: absolute; content: " "; z-index: 10; display: block; height: 100%; top: 0; left: 0; right: 0; background:rgba(104, 104, 104, 0.66); border-radius: calc(0.1rem + 0.4vw);}


/* status grid */ 
.status_content {height: 100%;}
.status_wrapper {width: 100%; height: 100%; margin: 0 auto;}
.status {height: 100%; display: column-grid;}
.status_header {text-align: right; display: inline-block; color: var(--sub_color); margin: 9% 0 7% 0; }
.status > div {background-color: #545454; border-radius: calc(0.1rem + 0.4vw); margin: 0 0 5% 0;}
.status_tittle {font-size: var(--status_header_font); font-weight: 800; color: #FFFFFF;}
.status_tag {font-size: var(--status_tag_font); padding: 1% 0; color: var(--comment_color);}
.date {font-size: var(--status_tag_font); padding: 1% 0; color: var(--comment_color);}



/* label */
.label {position: relative; padding: 2% 1%; margin-bottom: 7% !important; }
.label_wrapper {display: flex;  width: 45%; align-items: center;}
.label .label_color {width: calc(0.3rem + 0.9vw); height: calc(0.3rem + 0.9vw); border-radius: calc(0.1rem + 0.2vw);}
.label span {font-size: var(--label_font); color: var(--tag_color); font-family: "NanumSquare"; padding: 0 5%;}
.label > div {display: flex; justify-content: space-between; margin: 4% 0 5% 8%;}

.reading_label {background-color: var(--reading_color);}
.error_label {background-color: var(--error_color);}
.waiting_label {background-color: var(--waiting_color);}
.pause_label {background-color: #C2C2C2}


/* graph */
.graph {position: relative; padding: 6% 4% 3% 4%;}
.graph_container {display: flex; align-items: center; justify-content: space-around;}
.status_variable > p {font-size: var(--graph_tittle_font);}
.num_wrapper {display: flex; align-items: baseline;}
.num {font-size: var(--num_font); padding: 0 8% 0 0; letter-spacing: -0.5px; font-weight: 700;}
.amount {font-size: var(--label_font);}

.circle_graph {display: flex; align-items: center; justify-content: center;}
.circle_illust {position: relative;}
.circle_graph .percentage {position: absolute; font-size: var(--percentage_font); font-weight: 600;}

.reading_graph {color: var(--reading_color);}
.reading_graph .amount {color: var(--amount_color);}
.waiting_graph {color: var(--waiting_color);}
.waiting_graph .amount {color: var(--amount_color);}
.error_graph {color: var(--error_color);}
.error_graph .amount {color: var(--amount_color);}

/* total num */
.total_wrapper {display: flex; padding: 5% 10%; justify-content: space-between; align-items: center;}
.tag {font-weight: 700; font-size: var(--total_font);}
.result {font-size: var(--total_result_font);}
.total_wrapper p {color: var(--total_color);}



