<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="storg/js/jquery_3.7.0.js"></script>
    <link href="storg/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="storg/js/func.js" ></script>
    <script type="text/javascript" src="storg/js/mqttws31.js"></script>
    <script type="text/javascript" src="storg/js/mqttConfig.js"></script>
    <script type="text/javascript" src="storg/js/Moment.js"></script>
<!--    <link href="/img/baggage.png" rel="shortcut icon" type="image/x-icon">-->
    <title>통합관리시스템</title>
</head>
<body>
    <main layout:fragment="content"></main>
</body>
</html>