<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>통합관리 시스템</title>
</head>
<body>
<header th:fragment="header" class="main">
    <div class="logo" style="width: 250px;">
        <a href="/">
            <img id="topLeftLogo" src="/static/img/logo/logo_cubox.png" alt="" style="max-width: 170px; display: none;"/>
        </a>
    </div>
    <div class="title_box">
        <div class="title_time" style="margin-top: 24px;"><em th:text="${#calendars.format(#calendars.createNow(),'yyyy년 MM월 dd일 HH시 mm분 ss초')}" class="nowTime"></em> Recent Updates </div>
    </div>
    <div class="search_topbox" style="display: none;">
        <div class="input_box">
            <div class="line"></div>
            <input type="text" class="input_stin" placeholder="search">
            <button type="button" class="search_btn"></button>
        </div>
    </div>
    <div class="login_in_iconbox">
        <div class="member">
            <div class="img">
                <img src="/static/img/icon_member.png" alt="" />
            </div>
            <p></p>
        </div>
<!--        <button type="button" class="pw">비밀번호 변경</button>-->
        <button type="button" class="logout" onclick="location.href='/logOut'">로그아웃</button>
    </div>
</header>
</body>
</html>