<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<nav th:fragment="sidebar" class="sideBar">
    <div class="container">

        <a class="mainLog" href="/">통합 관리 시스템</a>
        <div class="sideLayout">
            <hr class="my-4 md:min-w-full">
            <h6 class="sideTitle">관리 메뉴</h6>
            <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                <li class="items-center">
                    <a th:classappend="${sideHL} == '대시보드' ? 'sideOn'" class="sideItem sideItem-On" href="/">
                        <i class="fas fa-tv mr-2 text-sm"></i>
                        대시보드
                    </a>
                </li>
                <li class="items-center">
                    <a th:classappend="${sideHL} == '통계' ? 'sideOn'" class="sideItem" href="/xrayStat">
                        <i class="fas fa-chart-line mr-2 text-sm"></i>
                        통계
                    </a>
                </li>
                <li class="items-center">
                    <a th:classappend="${sideHL} == '이력' ? 'sideOn'" class="sideItem" href="/record">
                        <i class="fas fa-table mr-2 text-sm"></i>
                        이력
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>