<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>통합관리 시스템</title>
    <link rel="stylesheet" href="/storg/css/swiper-bundle.css" />
    <link rel="stylesheet" href="/storg/css/adex.css">
    <script>
        //mqtt 불러오기
        $(function(){

        })
    </script>
</head>
<body>
    <main layout:fragment="content">

        <div class="main_content">
            <div class="wrapper">
                <div class="monitor_content content_wrap">
                    <div class="header monitor_header">
                        <div class="header_left">
                            <div class="icn_logo">
                                <img class="adex_image" src="/storg/img/main_logo_inc.png">
                            </div>
                            <div class="button_container">
                                <span>자동 판독</span>
                                <div class="button_wrapper">
                                    <label class="switch">
                                        <input type="checkbox"  id="funOn" onclick="tagDetection()" checked>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="id_num_container">
                            <div class="id_tag_name">
                                <p>수하물 아이디</p>
                            </div>
                            <div class="id_num">
                                <p id="mLid" class="text-right status_num" style="font-size: 22px;" th:if="${lastLid}!=null">[[${lastLid}]]</p>
                                <p id="mLid" class="text-right status_num" style="font-size: 22px;" th:if="${lastLid} == null">----------</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid_wrapper">
                        <div class="image_container">
                            <div class="left_image image">
                                <div class="image_title">
                                    <span>원본 이미지</span>
                                </div>
                                <div class="image_wrapper">
                                    <img th:if="${recentImage!=null}" id="main_image" th:src="'/adex_image/'+${recentImage.name}">
                                    <img th:if="${recentImage==null}" id="main_image" src="/storg/img/service_ready.png">

                                </div>
                            </div>
                            <div class="right_image image">
                                <div class="image_title">
                                    <span>자동판독 이미지</span>
                                </div>
                                <div class="image_wrapper">
                                    <img th:if="${recentImage!=null}" id="sub_image" th:src="'/adex_image/bbox/'+${recentImage.name}">
                                    <img th:if="${recentImage==null}" id="sub_image" src="/storg/img/service_ready.png">
                                </div>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="thumbnail_container">
                                <th:block th:if="${recentImage!=null}" th:each="list : ${subImage}">
                                    <div class="thumbnail_img">
                                        <img th:id="sub+${listStat.count}" th:value="${listStat.count}" th:src="'/adex_image/bbox/'+${list.name}" class="thumb_sub">
                                        <img style="display: none" th:id="main+${listStat.count}" th:value="${listStat.count}" th:src="'/adex_image/'+${list.name}">
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="status_content content_wrap">
                    <div class="status_header header adex_header">
                        <p class="status_tittle">판독 상황</p>
                        <p class="date">[[${#calendars.format(#calendars.createNow(), 'YY년 MM월 dd일 HH시 mm분 ss초')}]]</p>
                    </div>
                    <div class="status_wrapper">
                        <div class="status">
                            <div class="label_container">
                                <div class="label">
                                    <div class="top_line">
                                        <div class="label_wrapper">
                                            <span>판독수</span>
                                        </div>
                                    </div>
                                    <div class="bottom_line">
                                        <div class="label_wrapper">
                                            <span id="luggage_count" class="text-right status_num">[[${status.luggageCount}]]</span>
                                            <span class="adex_unit">회</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="label">
                                    <div class="top_line">
                                        <div class="label_wrapper">
                                            <span>위해 물품</span>
                                        </div>

                                    </div>
                                    <div class="bottom_line">
                                        <div class="label_wrapper">
                                            <span id="detection_count" class="text-right status_num">[[${status.detectionCount}]]</span>
                                            <span class="adex_unit">개</span>
                                        </div>
                                    </div>

                                </div>
                            </div>




                            <div class="graph top_graph">
                                <div class="status_variable">
                                    <p id="status_1st" class="status_1st">위해 물품</p>
                                    <p class="status_2nd">높은순</p>
                                </div>
                                <div class="graph_container">
                                    <div class="item_list_wrapper">
                                        <th:block th:each="list : ${topTen}">
                                            <div class="item_list_container list_active">
                                                <div class="item_list">
                                                    <p th:id="label_name+${listStat.count}" class="item_name">[[${list.labelName}]]</p>
                                                    <div class="item_bar">
                                                        <div class="bar">
                                                            <progress th:id="prg+${listStat.count}" class="progress workingP" min="0" max="100" th:value="${list.getLabelRatio()}"></progress>
                                                        </div>
                                                    </div>
                                                    <p th:id="label_count+${listStat.count}">[[${list.labelCount}]]개</p>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <input id="now_value" type="hidden" value=1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function(){
                let now_value = $('#now_value').val();
                $('#sub'+(Number(now_value))).addClass("active");

                $(document).on("click",'.thumbnail_img',function(){
                    now_value = $(this).children().eq(0).attr("value");
                    console.log(now_value);
                    $('.thumbnail_img').each(function(){
                        $('.thumbnail_img').children().removeClass("active");
                    })
                    $('#sub'+(now_value)).addClass("active");
                    $('#main_image').attr('src',$('#main'+(now_value)).attr('src'))
                    $('#sub_image').attr('src',$('#sub'+(now_value)).attr('src'))
                })
                adexMqtt();


                $(document).keydown(function(e) {
                    // switch(e.which) {
                    //     case 37: // 왼쪽 방향키
                    //         if(now_value >1){
                    //             $('.adex_sub_image').each(function(){
                    //                 $('.adex_sub_image').removeClass("active");
                    //             })
                    //             $('#sub'+(Number(now_value)-1)).addClass("active")
                    //             $('#main_image').attr('src',$('#main'+((Number(now_value)-1))).attr('src'))
                    //             $('#sub_image').attr('src',$('#sub'+((Number(now_value)-1))).attr('src'))
                    //             now_value--;
                    //         }
                    //         break;
                    //     case 39: // 오른쪽 방향키
                    //         if(now_value < $('.adex_sub_image').length){
                    //             let subID = now_value + 1
                    //             if($('#sub'+subID).length>0){
                    //                 $('.adex_sub_image').each(function(){
                    //                     $('.adex_sub_image').removeClass("active");
                    //                 })
                    //                 $('#sub'+subID).addClass("active")
                    //                 $('#main_image').attr('src',$('#main'+(now_value)).attr('src'))
                    //                 $('#sub_image').attr('src',$('#sub'+(now_value)).attr('src'))
                    //                 now_value++;
                    //             }
                    //         }
                    //         break;
                    // }
                });
            })

            function tagDetection(){
                if ($("#funOn").is(":checked")) {
                    let bfSrc = $('#sub_image').attr('src')
                    let parts = bfSrc.split('/');
                    $('#sub_image').attr('src','/adex_image/bbox/'+parts[2]);

                    $('.thumbnail_img').each(function(){
                        let subSrc = $(this).children().eq(0).attr('src')
                        let subPart = (subSrc||'').split('/');
                        $(this).children().eq(0).attr('src','/adex_image/bbox/'+subPart[2])
                        $(this).children().eq(1).attr('src','/adex_image/'+subPart[2])
                    })

                } else{
                    let bfSrc = $('#sub_image').attr('src')
                    let parts = bfSrc.split('/');
                    $('#sub_image').attr('src','/adex_image/'+parts[3]);
                    $('.thumbnail_img').each(function(){
                        let subSrc = $(this).children().eq(0).attr('src')
                        let subPart = (subSrc||'').split('/');
                        $(this).children().eq(0).attr('src','/adex_image/'+subPart[3])
                        $(this).children().eq(1).attr('src','/adex_image/'+subPart[3])
                    })
                }
            }

        </script>
        <script>

        </script>
    </main>
</body>
</html>