<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>통합관리 시스템</title>
    <link rel="stylesheet" href="/storg/css/swiper-bundle.css" />
    <link rel="stylesheet" href="/storg/css/adex.css">
    <link rel="stylesheet" href="/storg/css/modal.css">
</head>
<body>
    <main layout:fragment="content">
        <div class="main_content">
            <div class="wrapper">
                <div class="monitor_content content_wrap">
                    <div class="header monitor_header">
                        <div class="header_wrap">
                            <img class="adex_image" src="/storg/img/main_logo_cubox.png">
                        </div>
                        <div class="button_wrapper">
                            <div class="page_btn" onclick="location.href='/adex/'" type="button"><img src="/storg/img/main_icon.png"></div>
                        </div>
                    </div>
                    <div class="grid_wrapper" style="height: 74vh;">
                        <div class="a_list_container">
                            <ul class="image_wrap">
                                <th:block th:each="imageList : ${lists}" th:if="${totalCount>0}">
                                    <li class="img_list" th:value="${imageList.luggageId}" onclick="modal_change(this); document.getElementById('user-Modal01').style.display='block'">
                                        <img id="list_main_image" th:src="'/adex_image/'+${imageList.name}">
                                        <img style="display: none" id="list_sub_image" th:src="'/adex_image/bbox/'+${imageList.name}">
                                        <p class="text-center">촬영일시 : [[${imageList.regDate}]]</p>
                                        <input type="hidden" th:value="${imageList.luggageId}">
                                    </li>
                                </th:block>
                            </ul>
                            <th:block th:if="${totalCount==0}">
                                <div class="tb_d no_data" style=" width: 100%; height: 90%;">
                                    <img src="/storg/img/service_ready.png" style=" width: 100%; height: 90%;">
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="pc_view" th:with="start=${(lists.number/maxPage)*maxPage + 1}, end=(${(lists.totalPages == 0) ? 1 : (start + (maxPage -1) < lists.totalPages ? start + (maxPage -1) : lists.totalPages)})">
                        <div class="common_pagination pc_view">
                            <a th:href="${uri}+'?page='+${start-1}" th:classappend="${lists.first}? 'disabled'" class="first">PREV</a>
                            <a th:href="${uri}+'?page=' + ${lists.number-1}" th:classappend="${lists.first}? 'disabled'"  class="front"></a>
                            <div>
                                <a th:href="${uri}+'?page=' + ${page-1}" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${lists.number eq page-1}?'active':''" class="um">[[${page}]]</a>
                            </div>
                            <a th:href="${uri}+'?page=' + ${lists.number+1}" th:classappend="${lists.last}? 'disabled'" class="back"></a>
                            <a th:href="${uri}+'?page='+${end-1}" th:classappend="${lists.last}? 'disabled'" class="last">NEXT</a>
                        </div>
                    </div>
                </div>
                <div class="status_content content_wrap">
                    <div class="status_header header">
                        <p class="status_tittle">판독 상황</p>
                        <p class="date">[[${#calendars.format(#calendars.createNow(), 'YY년 MM월 dd일 HH시 mm분 ss초')}]]</p>
                    </div>
                    <div class="status_wrapper">
                        <div class="status" style="margin-top: 20px">
                            <div class="adex_status_wrapper">
                                <span class="status_title">판독수</span>
                                <div>
                                    <span id="luggage_count" class="text-right status_num">[[${status.luggageCount}]]</span>
                                    <span class="adex_unit">회</span>
                                </div>
                            </div>
                            <div class="adex_status_wrapper">
                                <span class="status_title">위해 물품</span>
                                <div>
                                    <span id="detection_count" class="text-right status_num">[[${status.detectionCount}]]</span>
                                    <span class="adex_unit">개</span>
                                </div>
                            </div>
                            <div class="adex_status_wrapper">
                                <ul class="adex_top10">
                                    <p class="status_title">Top 10</p>
                                    <th:block th:each="list : ${topTen}">
                                        <li class="top10">
                                            <span th:id="top+${listStat.count}" class="top10_name">[[${listStat.count}]] - [[${list.labelName}]] [[${list.labelCount}]]</span>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="user-Modal01" class="modal">
            <div class="modal-content" >
                <div class="modal-content_in w_90vw">
                    <span class="adex_close" onclick="$('#user-Modal01').css('display','none');">X</span>
                    <div class="modal_close" onclick="modal_change();"><i class="uil uil-multiply"></i></div>
                    <div class="modal_title">이미지 상세보기</div>
                    <div class="a_main_container">
                        <div class="a_wrapper_left">
                            <div class="adex_image_wrapper">
                                <p class="main_title">원본 이미지</p>
                                <img id="main_image" src="/storg/img/service_ready.png">
                            </div>
                        </div>
                        <div class="a_wrapper_right">
                            <div class="adex_image_wrapper">
                                <p class="main_title">자동판독 이미지</p>
                                <img id="sub_image" src="/storg/img/service_ready.png">
                            </div>
                        </div>
                    </div>
                    <div class="Image_container">
                        <img id="sub1" value=1 class="adex_sub_image">
                        <img id="main1" class="adex_main_image">
                        <img id="sub2" value=2 class="adex_sub_image">
                        <img id="main2" class="adex_main_image">
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(function(){
                let now_value = 1;

                $('#sub'+(Number(now_value))).addClass("active");

                $('.adex_sub_image').click(function(){
                    now_value = $(this).attr("value");
                    console.log(now_value);
                    $('.adex_sub_image').each(function(){
                        $('.adex_sub_image').removeClass("active");
                    })
                    $('#sub'+(now_value)).addClass("active");
                    $('#sub_image').attr('src',$('#main'+(now_value)).attr('src'))
                    $('#main_image').attr('src',$('#sub'+(now_value)).attr('src'))
                })



                $(document).keydown(function(e) {
                    switch(e.which) {
                        case 32: // 스페이스바
                            $('#toggleSwiper').click();
                            break;
                        case 37: // 왼쪽 방향키
                            if(now_value >1){
                                $('.adex_sub_image').each(function(){
                                    $('.adex_sub_image').removeClass("active");
                                })
                                $('#sub'+(Number(now_value)-1)).addClass("active")
                                $('#sub_image').attr('src',$('#main'+((Number(now_value)-1))).attr('src'))
                                $('#main_image').attr('src',$('#sub'+((Number(now_value)-1))).attr('src'))
                                now_value--;
                            }
                            break;
                        case 39: // 오른쪽 방향키
                            if(now_value < 2){
                                $('.adex_sub_image').each(function(){
                                    $('.adex_sub_image').removeClass("active");
                                })
                                $('#sub'+(Number(now_value)+1)).addClass("active")
                                $('#sub_image').attr('src',$('#main'+((Number(now_value)+1))).attr('src'))
                                $('#main_image').attr('src',$('#sub'+((Number(now_value)+1))).attr('src'))
                                now_value++;
                            }
                            break;
                        case 27: // esc키
                            $('#user-Modal01').css('display','none');
                            break;
                    }
                });
                setInterval(function() {
                    $.ajax({
                        url: 'status',
                        type: 'get',
                        success:function (data){
                            $('#luggage_count').text(data.luggageCount)
                            $('#detection_count').text(data.detectionCount)
                        }
                    });
                    $.ajax({
                        url: 'topTen',
                        type: 'get',
                        success:function (data){
                            let count = 1;
                            data.forEach(function (item) {
                                if($('#top'+count).length==0){
                                    let li = $('<li></li>')
                                    let labelRank = $('<span class="top10_count"></span>')
                                    let labelName = $('<span class="top10_name"></span>');
                                    labelRank.text(count+ '. ')
                                    labelName.attr('id',  'top'+count)
                                    labelName.text(item.labelName +' '+ item.labelCount)
                                    $('.adex_top10').append(li)
                                    li.append(labelRank).append(labelName)
                                }
                                $('#top'+count).text(item.labelName +' '+ item.labelCount)
                                count++;
                            });
                        }
                    });
                }, 5000);
            })


            function modal_change(e){
                $.ajax({
                    url:"listSubImg",
                    method:"get",
                    data:{"luggageId" : $(e).children().eq(3).val()},
                    success:function(data){
                        let count = 1;
                        data.forEach(function (item) {
                            if(count==1){
                                $('#main_image').attr('src','/adex_image/' + item.name)
                                $('#sub_image').attr('src','/adex_image/bbox/' + item.name)
                            }

                            $('#sub'+count).attr('src','/adex_image/' + item.name);
                            $('#main'+count).attr('src','/adex_image/bbox/' + item.name);
                            count++
                        });
                        $('#user-Modal01').css('display','block')
                    }
                })

            }


        </script>
    </main>
</body>
</html>