<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>통합관리 시스템</title>
    <script>
        $(function(){
            pcMqtt();
            xrayMqtt();
        })
    </script>
    <script>
        function toggleSwiper(){
            $('.swiper_toggle').toggleClass("off")
            if($('.swiper_toggle').hasClass("off")){
                swiper.autoplay.stop();
                $('.swiper_toggle').attr('src','/storg/img/play_icon.png');
            } else {
                swiper.autoplay.start();
                $('.swiper_toggle').attr('src','/storg/img/pause_icon.png');
            }
        }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
    <main layout:fragment="content">
        <div class="sub_box">
            <div class="main_b">
                <div class="inbox5">
                    <img class="swiper_toggle" src="/storg/img/pause_icon.png" onclick="toggleSwiper(this)">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="title">Check PC</div>
                                <ul class="gr gr-viewer">
                                    <input type="hidden" id="pcCount" th:value="${viewerInfo.size()}">
                                    <th:block th:if="${viewerInfo.size() != 0}" th:each="statusList : ${viewerInfo}">
                                        <input th:id="'dashOpenStatus'+${statusList.id}" type="hidden" th:value="${statusList.isOn}">
                                        <input type="hidden" th:id="'pcStat'+${statusList.id}">
                                        <li class="d-inline-block">
                                            <div class="viewer" th:id="'xrayline'+${statusList.id}">
                                                <div class="content_info" th:classappend="(${statusList.status == 'reading' and statusList.isOn == true} ? 'reading_status' : '' )+(
                                                   ${statusList.status == 'reading' and statusList.isOn == false} ? 'reading_status dimmed' : '')+(
                                                   ${statusList.status == 'waiting' and statusList.isOn == true} ? 'waiting_status' : '')+(
                                                   ${statusList.status == 'waiting' and statusList.isOn == false} ? 'waiting_status dimmed' : '')">
                                                    <div class="status">
                                                        <div class="status_wrapper">
                                                            <p class="status_tittle" th:id="'status'+${statusList.id}">[[${statusList.status}]]</p>
                                                            <p class="status_num">[[${statusList.name}]]</p>
                                                        </div>
                                                    </div>
                                                    <div class="status_icon">
                                                        <img th:if="${statusList.status == 'reading'}" src="/storg/img/reading_icon.png" alt="">
                                                        <img th:if="${statusList.status == 'waiting'}" src="/storg/img/waiting_icon.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </th:block>
                                    <th:block th:if="${viewerInfo.size() == 0}">
                                        <div class="noDevice">감지된 Viewer가 없습니다.</div>
                                    </th:block>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <div class="title">X-Ray</div>
                                <ul class="gr gr-xray">
                                    <input type="hidden" id="pcCount" th:value="${xrayInfo.size()}">
                                    <th:block th:if="${xrayInfo.size() != 0}" th:each="statusList : ${xrayInfo}">
                                        <input th:id="'dashOpenStatus'+${statusList.id}" type="hidden" th:value="${statusList.isOn}">
                                        <input type="hidden" th:id="'pcStat'+${statusList.id}">
                                        <li class="d-inline-block">
                                            <div class="viewer" th:id="'xrayline'+${statusList.id}">
                                                <div class="content_info" th:classappend="(${statusList.status == 'start' and statusList.isOn == true} ? 'reading_status' : '' )+(
                                                   ${statusList.status == 'start' and statusList.isOn == false} ? 'reading_status dimmed' : '')+(
                                                   ${statusList.status == 'end' and statusList.isOn == true} ? 'waiting_status' : '')+(
                                                   ${statusList.status == 'end' and statusList.isOn == false} ? 'waiting_status dimmed' : '')">
                                                    <div class="status">
                                                        <div class="status_wrapper">
                                                            <p class="status_tittle" th:id="'status'+${statusList.id}">[[${statusList.status}]]</p>
                                                            <p class="status_num">[[${statusList.name}]]</p>
                                                        </div>
                                                    </div>
                                                    <div class="status_icon">
                                                        <img th:if="${statusList.status == 'start'}" src="/storg/img/reading_icon.png" alt="">
                                                        <img th:if="${statusList.status == 'end'}" src="/storg/img/waiting_icon.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </th:block>
                                    <th:block th:if="${xrayInfo.size() == 0}">
                                        <div class="noDevice">감지된 Viewer가 없습니다.</div>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
                <script>
                    var swiper = new Swiper(".mySwiper", {
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false,
                        },
                        loop:true,
                        speed:2500,
                    });
                </script>
            </div>
        </div>
    </main>
</body>
</html>