<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monitoringserver.mapper.DeviceInfoMapper">

    <select id="getViewerInfo" resultType="com.monitoringserver.dto.DeviceDTO" >
        SELECT
            id, name, power, status, reg_date,
            modified_date, 'viewer' as type,
            (SELECT count(*) FROM luggage WHERE check_id = A.id AND type = 'P') AS pass_luggage,
            (SELECT count(*) FROM luggage WHERE check_id = A.id AND type = 'O') AS open_luggage,
            (SELECT count(*) FROM luggage WHERE check_id = A.id) AS total_luggage
        FROM device A
        WHERE type = 'C'
    </select>

    <select id="getViewerWaitingCount" resultType="java.lang.Integer" >
        SELECT count(*) FROM device WHERE status = 'waiting' AND type = 'C'
    </select>

    <select id="getViewerReadingCount" resultType="java.lang.Integer" >
        SELECT count(*) FROM device WHERE status = 'working' AND type = 'C'
    </select>

    <select id="getXrayInfo" resultType="com.monitoringserver.dto.DeviceDTO" >
        SELECT
            id, name, power, status, reg_date,
            modified_date, 'xray' as type,
            (SELECT count(*) FROM luggage WHERE xray_id = A.id) AS total_luggage
        FROM device A
        WHERE type = 'X'
    </select>

    <select id="getXrayWaitingCount" resultType="java.lang.Integer" >
        SELECT count(*) FROM device WHERE status = 'waiting' AND type = 'X'
    </select>

    <select id="getXrayReadingCount" resultType="java.lang.Integer" >
        SELECT count(*) FROM device WHERE status = 'working' AND type = 'X'
    </select>


    <select id="getTrsInfo" resultType="com.monitoringserver.dto.DeviceDTO" >
        SELECT
            id, name, power, status, reg_date,
            modified_date, 'trs' as type,
            (SELECT count(*) FROM luggage WHERE trs_id = A.id) AS total_luggage
        FROM device A
        WHERE type = 'T'
    </select>

    <select id="getTrsWaitingCount" resultType="java.lang.Integer" >
        SELECT count(*) FROM device WHERE status = 'waiting' AND type = 'T'
    </select>

    <select id="getTrsReadingCount" resultType="java.lang.Integer" >
        SELECT count(*) FROM device WHERE status = 'working' AND type = 'T'
    </select>


    <select id="getHistorySel" resultType="com.monitoringserver.dto.DeviceDTO" >
        SELECT
            id, name, type
        FROM (
                 SELECT id, name, 'viewer' as type
                 FROM viewer_info
                 Union
                 SELECT id, name , 'xray' as type
                 FROM xray_info
             ) as subquery;
    </select>

    <select id="getSettings" resultType="com.monitoringserver.dto.SettingDTO">
        SELECT swiper_speed
        FROM settings
    </select>
</mapper>